body{
  font-size: 20px;
  font-weight: bold;
  font-family:'Courier New',monospace;
  text-shadow: 1px 1px 1px #222;
  background: -webkit-repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(0, 0, 0, .05) 10px, rgba(0, 0, 0, .05) 20px),
  -webkit-linear-gradient(top, #f5f5f5, #b3aba6);

}

h1{
  text-transform: uppercase;
  text-align: center;
  font-size: 2.7em;
}

a{
  text-decoration: none;
}

#action { /* box formulaire */
	background:
	  radial-gradient(black 15%, transparent 16%) 0 0,
	  radial-gradient(black 15%, transparent 16%) 8px 8px,
	  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background:
		-moz-radial-gradient(black 15%, transparent 16%) 0 0,
		-moz-radial-gradient(black 15%, transparent 16%) 8px 8px,
		-moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
		-moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background:
		-webkit-radial-gradient(black 15%, transparent 16%) 0 0,
		-webkit-radial-gradient(black 15%, transparent 16%) 8px 8px,
		-webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
		-webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#373737;
	background-size:16px 16px;
	-webkit-background-size:16px 16px;
	-moz-background-size:16px 16px;
	-o-background-size:16px 16px;
    height: 570px;
    width: 800px;
    margin: -150px 0 0 -450px;
    padding: 30px;
    position: absolute;
    top: 32%;
    left: 52%;
    z-index: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow:
          0 0 2px rgba(0,0,0,0.5),
          0 1px 1px rgba(0,0,0,0.5),
          0 3px 0 #373737,
          0 4px 0 rgba(0,0,0,0.5),
          0 6px 0 #373737,
          0 7px 0 rgba(0,0,0,0.5),
          0 -10px 5px 10px rgba(0, 0, 0, 0.3) inset,
          0 10px 10px 15px rgba(255, 255, 255, 0.1) inset;
    -moz-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.5),
          1px 1px   0 rgba(0,0,0,0.5),
          3px 3px   #373737,
          4px 4px   0 rgba(0,0,0,0.5),
          6px 6px   #373737,
          7px 7px   0 rgba(0,0,0,0.5)
          0 -10px 5px 10px rgba(0, 0, 0, 0.3) inset,
          0 10px 10px 15px rgba(255, 255, 255, 0.1) inset;
    box-shadow:
          0 0 2px rgba(0, 0, 0, 0.5),
          0 1px 1px rgba(0,0,0,0.5),
          0 3px 0 #373737,
          0 4px 0 rgba(0,0,0,0.5),
          0 6px 0 #373737,
          0 7px 0 rgba(0,0,0,0.5),
          0 -10px 5px 10px rgba(0, 0, 0, 0.3) inset,
          0 10px 10px 15px rgba(255, 255, 255, 0.1) inset;
}

#field{
  background-color: #ffd54f;
  font-size: 1.1em;
  margin: 5px 5px 5px 5px;
  padding: 8px 10px 25px 20px;
  border: 1px solid #ad1457;
  border-radius: .85rem;
  box-shadow: 0 1px 1px 1px #c2185b;
  text-shadow: 0.1px 0.1px 0.1px #222;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffd54f), to(#ef6c00));
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(0,0,0,0.5),
   0 3px 0 #373737, 0 4px 0 rgba(0,0,0,0.5), 0 6px 0 #373737,
   0 7px 0 rgba(0,0,0,0.5), 0 -10px 5px 10px rgba(0, 0, 0, 0.3) inset,
  0 10px 10px 15px rgba(255, 255, 255, 0.1) inset;

}

 #option{
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5) inset, 0 2px 2px 2px #1F1F1F inset;
  box-sizing: content-box;
  margin:  5px -32px 20px -32px;
  background: -webkit-repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(0, 0, 0, .05) 10px, rgba(0, 0, 0, .05) 20px),-webkit-linear-gradient(top, #e6e0dc, #90CAF9);
  border-radius: .25rem;
  text-align: center;
  padding: .3rem 0.5rem;
  box-shadow: 0 -25px 25px rgba(0, 0, 0, 0.2) inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset,
  0 0 0 1px rgba(0, 0, 0, 0.75) inset, 0 2px 5px rgba(0, 0, 0, 0.25),
  0px 1px 2px rgba(0, 0, 0, 0.7), inset 4px 0 2px -1px rgba(0,0,0,0.3),
  0 -2px 5px rgba(0, 0, 0, 0.2);

}


/**button**/
.btn {
    display: inline-block;
    font-weight: 540;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    background-color: #e3f2fd;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    margin: 5px;
}

.btn-lg {
   padding: .5rem 1rem;
   font-size: 1.5rem;
   line-height: 1.5;
   border-radius: .80rem;
   box-shadow: 0 1px 2px 1px #c2185b;
}

.btn-primary {
   color: #fff;
   background-color: #007bff;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#007bff), to(#c32160));
   border-color: #007bff;
   text-shadow: 1px 1px 1px #222;
   -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5) inset, 0 2px 2px 2px #1F1F1F inset;
   box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(0,0,0,0.5),
    0 3px 0 #373737, 0 4px 0 rgba(0,0,0,0.5), 0 6px 0 #373737,
    0 7px 0 rgba(0,0,0,0.5), 0 -10px 5px 10px rgba(0, 0, 0, 0.3) inset,
   0 10px 10px 15px rgba(255, 255, 255, 0.1) inset;
 }

/**end button**/

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer ;
  margin: 1px 1px 1px 1px;
  border-radius: .40rem;
}


.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
/****end icon *********/


@media (max-width :768px) and (min-width:360px){
  h1{
    font-size: 1.9em;
  }
  .btn{
    padding: .375rem .75rem;
  }

  #action{
    height: 620px;
    width: 400px;
    left: 95%;
    top: 25%;
  }
  div {
    display: flex;
  }
}

@media (min-width :768px){
  .btn{
    font-weight: 600;
  }
  div {
    display: flex;
  }
}

div {
  display: inline-block;
}